.footer {
    max-width: 980px;
    margin: 25px auto;
    padding: 0 30px;
    color: #808080;
    font-size: 13px;
}


.containerFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

} 
 .containerFooter .icons svg :first-child {
    margin-left: -9px;
}

.containerFooter .icons  svg {
    height: 30px;
    width: 41px;
    margin-right: 8px;
    cursor: pointer;

}
.details {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;  
}

.containerFooter .icons {
    display: flex;
    margin-bottom: 10px;
} 


.containerFooter .icons a {
    text-decoration: none;
    color: #808080;
    
}


.details li {
    list-style: none;
    margin-bottom: 16px;
    flex-basis: 25%;
    text-align: left;
    cursor: pointer;

   
}
.details li:hover {
    text-decoration: underline;
}
.security {
    display: flex;
    flex-direction: column;
}
.security div {
    border: 1px solid #808080;
    padding: 7px 10px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all .2s ease;

   
}

.security div:hover {
    color: white;
}

@media (max-width: 710px) {
    .footer {
        font-size: 12px;
    }

    .containerFooter .details li {
        flex-basis: 33%;
    }

    .containerFooter .security {
        flex-direction: row;
        align-items: center;

        div {
            margin-bottom: 0;
        }

        span {
            margin-left: 15px;
        }
    }
}

@media (max-width: 600px) {
    .containerFooter .details li {
        flex-basis: 50%;
    }
}